looping_scan_rate_bib.csv
example_plot_skewed.csv
example_plot_skewed.json
example_plot_p0_demo_digitize.csv
looping_scan_rate_bib.json
looping_scan_rate_yaml.csv
looping_scan_rate_yaml.json
looping_scan_rate.csv
looping_scan_rate.json
looping_scale_bar.csv
looping_scale_bar.json
looping_scaling_factor.csv
looping_scaling_factor.json
scatter_plot.csv
scatter_plot.json
