name: Lint
on:
  push: { branches: [ "master" ] }
  pull_request: { branches: [ "master" ] }

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  python-linter:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - uses: prefix-dev/setup-pixi@v0.8.1
        with: { pixi-version: v0.28.2 }
      - name: pylint
        run: pixi run pylint
      - name: black
        run: pixi run black --diff --check|
      - name: isort
        run: pixi run isort --check --diff
