name: Test
on:
  push: { branches: [ "master" ] }
  pull_request: { branches: [ "master" ] }

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        environment: ["python-310", "python-311", "python-312", "python-313", "python-314"]
        os: ["ubuntu-latest", "ubuntu-24.04-arm", "macos-latest", "windows-latest"]
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with: { submodules: recursive }
      - uses: prefix-dev/setup-pixi@v0.9.3
        with: { pixi-version: v0.59.0 }
      - name: doctest
        shell: pixi run bash -e {0}
        run: pixi run -e ${{ matrix.environment }} doctest
      - name: Validate output Data Package Metadata
        shell: pixi run bash -e {0}
        run: pixi run -e ${{ matrix.environment }} validate
      - name: pytest
        run: pixi run -e ${{ matrix.environment }} pytest
      - name: cli
        # Check that invoking the CLI works in principle. The CLI itself is tested by pytest.
        run: pixi run -e ${{ matrix.environment }} svgdigitizer digitize test/data/xy.svg
